.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50vw;
  height: 10vh;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  font-size: 36px;
}
