@font-face {
  font-weight: normal;
  font-family: "Panton";
  font-style: normal;
  src:
  url("../fonts/PantonRegular.woff2")
  format("woff2"),
  url("../fonts/PantonRegular.woff")
  format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Panton";
  font-style: normal;
  src: url("../fonts/PantonSemiBold.woff2")
  format("woff2"),
  url("../fonts/PantonSemiBold.woff")
  format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "PantonBlack";
  font-style: normal;
  src: url("../fonts/PantonBlack.woff2")
  format("woff2"),
  url("../fonts/PantonBlack.woff")
  format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PantonExtraBold";
  font-style: normal;
  src: url("../fonts/PantonExtraBold.woff2")
  format("woff2"),
  url("../fonts/PantonExtraBold.woff")
  format("woff");
}


@font-face {
  font-weight: bold;
  font-family: "PantonBold";
  font-style: normal;
  src: url("../fonts/PantonBold.woff2")
  format("woff2"),
  url("../fonts/PantonBold.woff")
  format("woff");
}
