$white: #ffffff;
$black: #222222;

$default-font: "Panton", "Arial";
$second-font: "PantonRegular", "PT Serif", sans-serif;
$third-font: "PantonBlack", "PT Serif", sans-serif;  
$extra-bold: "PantonExtraBold", sans-serif;      
$bold: "PantonBold";  